{
  "Alex": {
    "chore": "Trash",
    "description": "Take all trash out to the dumpster."
  },
  "Koepke": {
    "chore": "No chore this week. :)",
    "description": "Enjoy your week off! Don't be affraid to help out with their chores."
  }
}